# [Project Build Artifacts]
# 프론트엔드 빌드 결과물
frontend/dist/
backend/dist_web/

# PyInstaller 빌드 결과물 및 임시 파일
backend/build/
backend/dist/
*.spec

# [CamPy Runtime Data]
# 분석 결과 이미지 및 임시 파일
backend/outputs/
backend/temp/

# [Dependencies]
# 패키지 관리 폴더
node_modules/
frontend/node_modules/
backend/.venv/
backend/venv/

# [Models]
*.pt
*.pth

# [System & IDE]
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log